body {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
  }
  
  #reels {
    display: flex;
    width: 100vw;
    height: calc((3 / 5) * 53vw);
    max-height: calc(90vh - 50px - 40px);
    max-width: calc((5 / 3) * (90vh - 50px - 40px));
  }

  li{
    font-size: 10px;
  }

  .balance-container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }

  .slot-indicator {
    height: 142px;
    visibility: hidden;
  }
  
  .win-indicator {
    border-left: solid red;
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 25px;
    visibility: visible;
  }
  
  .reel {
    overflow: hidden;
    width: 20%;
    height: 100%;
  }
  
  .reel > .icons > img {
    width: calc(100% + 6px);
    margin: -3px 0 0 -3px;
    height: auto;
  }